### for_list_format

In [8]:
i=0

In [22]:
number = [1,2,3,4,5]
number , type(number)

([1, 2, 3, 4, 5], list)

In [32]:
for i in num :
    print(i,  end = '')

NameError: name 'num' is not defined

In [33]:
num=list(range(1,11))
num,type(num)

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], list)

In [10]:
i=0
if i==0 :
    print('i는 0이다')
else:
    print('i는 0이 아니다')

i는 0이다

In [15]:
i=10
if i%2==0 :
    print(i,'는 짝수다')
else:
    print(i,'는 홀수다')

10 는 짝수다

In [17]:
i=int(input('숫자입력>>>'))
if i%2==0 :
    print(i,'는 짝수다')
else:
    print(i,'는 홀수다')

숫자입력>>>1
1 는 홀수다

In [20]:
sub=['국','영','수','정보']
for i in range(len(sub)):
    print(sub[i], end=' ')

국 영 수 정보

In [23]:
sub=['국','영','수','정보']
for i,s in enumerate(sub):
    print(sub[i], end=' ')

국 영 수 정보

In [34]:
sub=['국','영','수','정보']
for i in range(len(sub)):
    if sub[i] == '정보' :
        print(i+1,'교시',sub[i],'합격')
    else :
        print(i+1,'교시',sub[i],'해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당없음
4 교시 정보 합격

In [31]:
for i in range(1,11):
    if i % 2==0:
        print('파이썬')
    else :
        print('야~ 나도 파이썬 할 수 있어')

야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬

### List

In [25]:
juso = '  광주광역시 중구 참외전로 6번지 3층 창의관   '
juso, type(juso), len(juso)

('  광주광역시 중구 참외전로 6번지 3층 창의관   ', str, 29)

In [26]:
juso = juso.strip()

In [30]:
juso, len(juso)

('광주광역시 중구 참외전로 6번지 3층 창의관', 24)

In [37]:
addr=juso.strip()

In [38]:
addr, len(addr), type(addr)

('광주광역시 중구 참외전로 6번지 3층 창의관', 24, str)

In [39]:
addr[:2], addr[3:]

('광주', '역시 중구 참외전로 6번지 3층 창의관')

In [40]:
juso.startswith('인천')

False

In [41]:
juso.endswith('동')

False

In [42]:
'광주광역시' in addr

True

In [36]:
'광주' in addr

True

### format

In [64]:
s='A is {}, {}'
pr = s.format('사과','감자')
print(pr)

A is 사과, 감자

In [66]:
info_1 = '학교:{}, 학번:{},이름:{}'
pr = info_1.format('인천정보산업고등학교',30112,'이규민')
print(pr)

학교:인천정보산업고등학교, 학번:30112,이름:이규민

### [문제1] 30부터 50까지 중에서 홀수만 출력

In [7]:
for i in range(30,51):
    if i%2 != 0:
        print(i)

31
33
35
37
39
41
43
45
47
49

### [문제2] 아이디를(문자)를 입력받아 동일하면 회원 아니면 회원가입

In [1]:
st=(input('내용 입력>>'))
if st == "아이디" :
    print('회원')
else :
    print('회원가입')

내용 입력>>아이디
회원

### [문제3] ex) 인천정보산업고/30105/김장민 입력받아
- 학교 : 인천정보산업고
- 학번 : 30105
- 이름 : 김장민

In [6]:
stu=list(map(str,input('내용 입력>>').split('/')))
print('학교 : ', stu[0])
print('학번 : ',stu[1])
print('이름 : ',stu[2])

내용 입력>>인/정/산
학교 :  인
학번 :  정
이름 :  산

### [문제4] 숫자데이터 5개를 입력받아
- 합계
- 평균

In [8]:

a = list(map(int,input('숫자 5개 입력 : ').split(' ')))
Sum = 0
for i in range(len(a)):
    Sum += a[i]
print('합계 : %d'%Sum)
print('평균 : %.2f'%(Sum/len(a)))

숫자 5개 입력 : 1 2 3 4 5
합계 : 15
평균 : 3.00

In [ ]:
pr =